<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Busca de personagens</h1>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-6">
      <label for="nomePersonagem">Nome Personagem:</label>
      <div class="input-group mt-2">
        <input class="form-control" type="text" name="search" #searchTerm  (keyup)="searchTerm.value.length ? getCharactersSearch(searchTerm.value) : getAllHerois()">
        <span>
          <i class="bi bi-search"></i>
        </span>
      </div>
    </div>
  </div>
  <table class="table table table-borderless table-hover">
      <thead>
    <tr>
      <th scope="col">Personagem</th>
      <th class="series" scope="col">Series</th>
      <th  class="eventos" scope="col">Eventos</th>
    </tr>
  </thead>
    <tbody *ngFor="let herois of allHerois  | paginate: { itemsPerPage: 10, currentPage: paginaAtual }; let i = index">
      <tr (click)="getDetalhe(herois.name)">
        <td class="nome">
         <img src="{{herois.thumbnail.path}}.{{herois.thumbnail.extension}}" alt="{{herois.name }}">
         {{ herois.name}}
        </td>
        <td class="series" >
          <p *ngFor="let series of herois.series.items " > {{series.name}}</p>
        </td>
        <td class="eventos">
          <p *ngFor="let event of herois.events.items" >{{event.name}}</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<footer>
  <pagination-controls class="pagination" (pageChange)="paginaAtual = $event" previousLabel="" nextLabel=""></pagination-controls>
</footer>
