/* You can add global styles to this file, and also import other style files */

html, body { height: 100%;  }
body {
  margin: 0;
  font-family:  PT Sans Caption;
  background: rgba(8,7,42,1);

}
@import "~bootstrap-icons/font/bootstrap-icons.css";
