.navbar {
  background-color: #ed1a23;
  display: flex;
  align-items: center;
}

.navbar-brand h1 {
  font-family: 'Bebas Neue', cursive;
  font-weight: bold;
  font-size: 3em;
  color: white;
  margin-left: 30px;
}

@media (max-width: 800px) {
  .navbar{
    justify-content:center

  }
}


